
.link {
    text-decoration: none;
}

.list {
    /*display: none;*/
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 320px;
    position: relative;
}

/*header*/

.header-position-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    margin-top: 16px;
}

.position-tel-menu {
    display: flex;
    align-items: center;
    gap: 14px;
}
/*hero*/

.div-for-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-hero {
   position: absolute;
   top: 74%;
   left: 35%;
}

.text-hero {
    text-align: center;
}

/*about*/ 

.text-about {
    margin-top: 32px;
    margin-bottom: 16px;
}

.title-about {
    margin-right: 14px;
}

.about-div {
    padding-top: 100px;
    padding-bottom: 60px;
}

/*store*/

.title-store {
    margin-right: 14px;
}

.list-store {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 16px;
    /*margin-left: 16px;
    margin-right: 16px;*/
    justify-content: space-around;
}

.btn-store{
    
    width: 208px;
    height: 44px;
    padding: 14px 28px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 38px;
    background: var(--pink, #E86F54);
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 70px;
}

/*delivery*/

.title-delivery {
    margin-right: 14px;
}

.delivery-picture {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: -8px;
   margin-right: auto;
    width: 320px;
}

.list-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 0;
}

.step-list-delivery {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}


.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    border-radius: 200px;
    max-width: 40px;
    max-height: 40px;
    color: black;
    border: 1px solid #141414;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0; 
}

.list-delivery-text {
    margin-top: 0;
    margin-bottom: 0;
}

.wast {
    display: none;
}

/*blog*/ 

.picture-step {
    padding-left: 0;
    display: flex;
    gap: 16px;
    margin-bottom: 0;
}

.svg-blog-div {
    text-align: center;
}

.text-p-blog {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.btn-blog {
    width: 208px;
    height: 44px;
    padding: 14px 28px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 38px;
    background: var(--pink, #E86F54);
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 100px;
}

.title-blog {
    margin-right: 14px;
}

.vertical-line {
    flex: 1;
    border-top: 1px solid black;
}

.conteiner-for-line {
    display: flex;
    align-items: center;
    
}

/*footer*/

.last-footer {
    background-color: #000;
    color: #FFFFFF;
}

.together-footer {
    display: flex;
    justify-content: space-around;
}

.together-footer2 {
    display: flex;
    justify-content: space-around;
}

.three-block-ul {
    margin: 0px;
    padding: 0px;
}