
.link {
    text-direction: none;
}

.list {
    /*display: none;*/
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 24px;
    padding-right: 24px;*/
    max-width: 320px;
    position: relative;
}

/*hero*/

.div-for-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-hero {
   position: absolute;
   top: 74%;
   left: 35%;
}

/*about*/

/*.title-about {
   
    position: relative;
}

.title-about::after{
    content: " ";
    background: #333333;
    width: 100%;
    height: 1px;
    bottom: 15px;
    position: absolute;
}*/

.text-about {
    margin-top: 32px;
    margin-bottom: 16px;
}

.about-div {
    padding-top: 100px;
    padding-bottom: 60px;
}

/*store*/

.list-store {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 16px;
    /*margin-left: 16px;
    margin-right: 16px;*/
    justify-content: space-around;
}

.btn-store{
    
    width: 208px;
    height: 44px;
    padding: 14px 28px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 38px;
    background: var(--pink, #E86F54);
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 70px;
}

/*delivery*/

.delivery-picture {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: -8px;
   margin-right: auto;
    width: 320px;
}

.list-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 0;
}

.step-list-delivery {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}


.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    border-radius: 200px;
    max-width: 40px;
    max-height: 40px;
    color: black;
    border: 1px solid #141414;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0; 
}

.list-delivery-text {
    margin-top: 0;
    margin-bottom: 0;
}

.wast {
    display: none;
}

.picture-step {
    padding-left: 0;
    margin-left: 8px;
    display: flex;
    gap: 16px;
}

.blog-svg {
    margin: 0 auto;

}